@model demo_xedap.Models.tCustumer

@{
    ViewBag.Title = "Dangky";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<h3>Register to enter</h3>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">  
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" style="text-align: center;">
            @*@Html.LabelFor(model => model.CustumerID, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-8" style="display: inline-block;">
                <input type="text" class="form-control" placeholder="ID" onfocus="this.placeholder = ''" onblur="this.placeholder = 'ID'" 
                 @Html.EditorFor(model => model.CustumerID, new { htmlAttributes = new { @class = "form-control" } })
                 @Html.ValidationMessageFor(model => model.CustumerID, "", new { @class = "text-danger" })

                
            </div>
        </div>
        <div class="form-group" style="text-align: center;">
            @*@Html.LabelFor(model => model.TaiKhoan, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-8" style="display: inline-block;">
                <input type="text" class="form-control" placeholder="Account" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Account'"
                @Html.EditorFor(model => model.TaiKhoan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TaiKhoan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="text-align: center;">
            @*@Html.LabelFor(model => model.MatKhau, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-8" style="display: inline-block;">
                <input type="text" class="form-control" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'"
                       @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control" } })
                       @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="text-align: center;">
            <div class="col-md-offset-2 col-md-10" style="display: inline-block;">
                <input type="submit" value="Create" class="genric-btn primary circle" />&nbsp;&nbsp;&nbsp;
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
}


